<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.html') %>
    <title>ToDo</title>
</head>
<body>
    <header class="menu-header flex">
        <div>
          <img src="assets/logo.svg" alt="logo" class="logo animate__animated animate__bounce">     
        </div>
        <button class="menu-toggle" aria-controls="primary-navigation" aria-expanded="false">
          <span class="sr-only"></span>
        </button>
        <nav>
          <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
            <li class="navs active"><a href="#"><span aria-hidden="true">01</span>ToDo</a></li>
            <li class="navs"><a href="#"><span aria-hidden="true">02</span>Products</a></li>
            <li class="navs"><a href="#"><span aria-hidden="true">03</span>About Us</a></li>
            <li class="navs"><a href="#"><span aria-hidden="true">04</span>Contact Us</a></li>
            <li class="navs"><a href="#"><span aria-hidden="true">05</span>Careers</a></li>
          </ul>
        </nav>
    </header>
    <div class="main-content main-grid">
        <div class="options flex">
          <form action="/" method="post" class="adder flex">
            <div class="form-group">
              <input type="text" class="form-control" name="newInput" placeholder="New task">
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-lg" type="submit" role="button">Add</button>
            </div>
          </form> 
          <form action="/dSelected" method="post" class="selected">
            <div class="form-group">
              <button class="btn btn-danger btn-lg" type="submit" role="button">Delete Selected</button>
            </div>
          </form>
          <form action="/dAll" method="post" class="deleteAll">
            <div class="form-group">
              <button class="btn btn-danger btn-lg" type="submit" role="button">Delete All</button>
            </div>
          </form>
        </div>
        <ul class="list-group grid custom-grid scrollbar">
          <% for(var e = 0; e < arr.length; e++) { %>
            <div class="jumbotron padding-1-2 list-group-item">
              <input type="checkbox" class="checkbox all" id="c1" name="done"/>
              <label for="done">Done</label>
              <p class="lead custom-lead"><%- arr[e] %></p>
              <hr class="my-4">
              <div class="form-group">
                <a class="btn btn-danger btn-lg" href="#" role="button">Delete</a>
              </div>
            </div>
          <% } %>
        </ul>
    </div>
    <%- include('partials/scripts.html') %>
</body>
</html>
