<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.html') %>
    <title>ToDo</title>
</head>
<body>
    <header class="menu-header flex">
        <div>
          <img src="assets/logo.svg" alt="logo" class="logo animate__animated animate__bounce">     
        </div>
        <button class="menu-toggle" aria-controls="primary-navigation" aria-expanded="false">
          <span class="sr-only"></span>
        </button>
        <nav>
          <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
            <li class="navs active"><a href="#"><span aria-hidden="true">01</span>ToDo</a></li>
            <li class="navs"><a href="#"><span aria-hidden="true">02</span>Products</a></li>
            <li class="navs"><a href="#"><span aria-hidden="true">03</span>About Us</a></li>
            <li class="navs"><a href="#"><span aria-hidden="true">04</span>Contact Us</a></li>
            <li class="navs"><a href="#"><span aria-hidden="true">05</span>Careers</a></li>
          </ul>
        </nav>
    </header>
    <div class="main-content main-grid">
        <div class="options flex">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="New task">
          </div>
          <div class="form-group">
            <a class="btn btn-success btn-lg" href="#" role="button">Add</a>
          </div>
          <div class="form-group">
            <input type="checkbox" class="checkbox all" id="c1" name="cc" />
          </div>
          <div class="form-group">
            <a class="btn btn-danger btn-lg" href="#" role="button">Delete Selected</a>
          </div>
          <div class="form-group">
            <a class="btn btn-danger btn-lg" href="#" role="button">Delete All</a>
          </div>
        </div>
        <ul class="list-group grid custom-grid scrollbar">
          <div class="jumbotron padding-1-2 list-group-item">
            <input type="checkbox" class="checkbox" id="c1" name="cc" />
            <p class="lead custom-lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio rerum, cum atque voluptates sint vitae eius. Sit quisquam officiis sed beatae eum saepe, eos fugiat veritatis! Libero ut eum deserunt?</p>
            <hr class="my-4">
            <p class="lead">
              <a class="btn btn-danger btn-lg" href="#" role="button">Delete</a>
            </p>
          </div>
        </ul>
    </div>
    <%- include('partials/scripts.html') %>
</body>
</html>